.bg-grey-1 {
  background-color: rgb(235, 240, 245);
}

.bg-grey-2 {
  background-color: rgb(112,128,144);
}

.bg-test-1 {
  background-color: rgb(50,50,0);
}
.bg-test-2 {
  background-color: rgb(0,50,50);
}
