/* set flex */

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* Primary axe */

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

/* Secondary axe */

.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-stretch {
  align-items: stretch;
}

/* self */

.self-center {
  align-self: center;
}

.self-end {
  align-self: flex-end;
}

.self-start {
  align-self: flex-start;
}

.self-stretch {
  align-self: stretch;
}

.self-grow {
  flex-grow: 1;
}

.self-flex {
  flex: 1 0;
}

.self-unshrink {
  flex-shrink: 0;
}
