.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.center {
  margin: auto;
}

.w-base {
  width: 1000px;
}

.w-100 {
  width: 100%;
}

.p-30 {
  padding: 30px;
}

.border {
  border: 1px solid black;
}

.rounded {
  border-radius: 10px;
}

.rounded-top {
  border-radius: 10px 10px 0 0;
}
