body {
  padding:0;
  margin: 0;
  font-family: "quicksand";
  color: rgb(112,128,144);
}

button {
  font-family: "quicksand";
  color: rgb(250, 250 , 250);
  border: none;
}

input {
  font-family: "quicksand";
  color: rgb(112,128,144);
}

.border {
  border: 1px solid black;
}

.rounded {
  border-radius: 6px;
}

.fullrounded {
  border-radius: 100px;
}

.rounded-top-left {
  border-radius: 6px 0px 0 0;
}

.rounded-top-right {
  border-radius: 0px 6px 0 0;
}

.rounded-bottom {
  border-radius: 0px 0px 6px 6px;
}
.rounded-top {
  border-radius: 6px 6px 0px 0px;
}

.disp-none {
  display: none;
}

.hover:hover {
  cursor: pointer;
  background-color: rgb(112,128,144);
  color: rgb(235, 240, 245);
}

.scroll {
  overflow: auto;
}
