.m-0 {
  margin: 0px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.m-30 {
  margin: 30px;
}


.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-v-10 {
  margin-bottom: 10px;
  margin-top: 10px;
}
.m-v-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.m-v-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.m-h-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.m-h-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.m-h-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.m-h-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-auto {
  margin: auto auto;
}
