<form class="rounded-bottom p-v-30 p-h-50 bg-grey-1 flex-v items-center text-center" action="create_account.php" method="POST">
  <div class="flex-v m-b-30">
    <label class="font-S m-b-10" for="">Email: </label>
    <input class="h-25p w-200p" type="text" name="email"/>
  </div>
  <div class="flex-v m-b-30">
    <label class="font-S m-b-10" for="">Username: </label>
    <input class="h-25p w-200p" type="text" name="username"/>
  </div>
  <div class="flex-v m-b-30">
    <label class="font-S m-b-10" for="">Password: </label>
    <input class="h-25p w-200p" type="password" name="password">
  </div>
  <div class="flex-v m-b-30">
    <label class="font-S m-b-10" for="">Confirm Password: </label>
    <input class="h-25p w-200p" type="password" name="password_confirm">
  </div>
  <button class="font-M p-v-10 m-t-20 font-grey-1 bg-grey-2 rounded" type="submit" name="submit" value="register_button">Create</button>
</form>
