.room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vh;
}

.server {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-top: 10px;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.asStarted {

  min-height: 70px;
}

.notStarted {
  min-height: 70px;
}

.indexServer {
  font-family: 'Roboto';
  font-size: 14px;
  width: 450px;
  padding: 15px 0px;
}
.legend {
 font-family: 'Roboto';
 font-weight:bold;
width: 100%;
 margin-bottom: 10px;
 }


.or {
 margin: 10px;
}
 .formModal {

   position: relative;
   z-index: 10;
   background: #FFFFFF;
   max-width: 360px;
   margin: 0 auto 100px;
   padding: 45px;
   text-align: center;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 }
.form {
position: relative;
z-index: 0;
background: #FFFFFF;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.inputText {
font-family: "Roboto", sans-serif;
outline: 0;
background: #f2f2f2;
width: 100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
 }

.input[type=submit] {
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
background: #8B0000;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
-webkit-transition: all 0.3 ease;
transition: all 0.3 ease;
cursor: pointer;
 }
